/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    color: pink 
}

body {background-color: papayawhip;}
p {font: 100;}
p2 {text-align: left;}
p2 {font-size: small;}
p2 {color: pink ;}
ul {list-style-type: none;
background-color: powderblue;
border: 5px;
border-color: bisque
}

li{display: inline;
padding-right: 7px;
}

